<div class="flex-auto">
  <div class="mx-auto max-w-3xl mt-10 mb-12 text-base leading-7 text-gray-400">

    <!-- Create user -->
    <div class="mx-auto max-w-3xl mt-10 mb-24 text-base leading-7 text-gray-400">
      <h1 class="mt-2 text-2xl font-bold tracking-tight text-slate-200 sm:text-3xl">
        Add a User
      </h1>
      <shared-store-user-form 
        [userForm]="addUserForm"
        submitFormLabel="Add User"
        (formSubmitted)="addUser()"
      />
    </div>
  
    <!-- Update user -->
    <div class="mx-auto max-w-3xl mt-10 mb-24 text-base leading-7 text-gray-400">
      <h1 class="mt-2 text-2xl font-bold tracking-tight text-slate-200 sm:text-3xl">
        Update a User
      </h1>
      <shared-store-user-form
        [userForm]="updateUserForm"
        submitFormLabel="Update User"
        (formSubmitted)="updateUser()"
      />
    </div>

    <h1 class="mt-2 text-2xl font-bold tracking-tight text-slate-200 sm:text-3xl">
      User information
    </h1>

    <!-- User information (of the created or search user) -->
    <h2 class="mt-6 text-base font-semibold leading-7 text-white">Get User</h2>
    <p class="mt-1 mb-4 text-sm leading-6 text-gray-400">Get users from the api or users that were just added.</p>
    <div class="pb-6 space-y-8 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-8">
      <div class="sm:col-span-1">
        <shared-store-input
          label="User id"
          [control]="activeUserId"
        />
      </div>

      <div class="sm:col-span-7 flex justify-end">
        <shared-store-button 
          label="Get User"
          (click)="getUser()"
        />
      </div>
    </div>

    <shared-store-user-information 
      [user]="user | async"
    />

    <div class="mt-14 flex items-center justify-end gap-x-6">
      <shared-store-button 
        label="Delete User"
        (click)="deleteUser()"
      />
    </div>
  </div>

  <div class="mx-auto max-w-3xl border-t border-white/10 pb-8">&nbsp;</div>

  <!-- Content section -->
  <div *ngFor="let post of (posts | async) || []; index as i" class="mx-auto">
    <shared-store-post 
      [userData]="(user | async)"
      [postData]="post"
    />
  </div>

  <div class="mx-auto max-w-3xl border-t border-white/10 pb-8">&nbsp;</div>
</div>
